.buttonDeleteComment {
    background-color: transparent;
    border: none;
    margin: 0px;
    transition: color 250ms ease-in-out;
}
.buttonDeleteComment:hover {
    cursor: pointer;
    color: red;
}
.buttonUpdateComment {
    background-color: transparent;
    border: none;
    margin: 0px;
    transition: color 250ms ease-in-out;
}
.buttonUpdateComment:hover {
    cursor: pointer;
    color: $color-secondary;
}
.faMinusCircle {
    font-size: 18px;
    margin-right: 5px;
}
.containerButtonsComments {
    display: flex;
    justify-content: space-between;
}
.buttonUpdateCommentSubmit {
    background-color: $color-secondary;
    border: none;
    box-shadow: 0px 0px 2px $color-secondary;
    font-size: 24px;
    font-weight: bold;
    color: $color-primary;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 250ms ease-in-out;
    margin: 20px 0px 0px 0px;
    padding: 5px 10px;
    width: 100%;
}
.buttonUpdateCommentSubmit:hover {
    cursor: pointer;
    background-color: lighten($color-secondary, 10);
}
.textareaUpdateComment {
    height: 80px;
    padding: 8px 0px 8px 8px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    width: 100%;
    font-size: 20px;
    margin: 10px 0 0 0;
    @include mobile {
        width: 100%;
    } 
}