.containerUpdatePublication{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.textareaUpdatePublication {
    height: 80px;
    padding: 8px 0px 8px 8px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    width: 100%;
    font-size: 20px;
    margin: 10px 0 0 0;
    @include mobile {
        width: 100%;
    } 
}
.textareaUpdatePublication:focus {
    outline: $color-secondary solid 2px;
}
.buttonUpdatePublication {
    background-color: $color-secondary;
    border: none;
    box-shadow: 0px 0px 2px $color-secondary;
    font-size: 24px;
    font-weight: bold;
    color: $color-primary;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 250ms ease-in-out;
    margin: 20px 0px 0px 0px;
    padding: 5px 10px;
    width: 100%;
}
.buttonUpdatePublication:hover {
    cursor: pointer;
    background-color: lighten($color-secondary, 10);
}
.labelUpdateImage {
    color: black;
    font-size: 20px;
    transition: color 250ms ease-in-out;
    margin-top: 10px;
}
.labelUpdateImage:hover {
    cursor: pointer;
    color: $color-secondary;
}