footer {
    background-color: $color-primary;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
}
.buttonDeleteAccount {
    background-color: #9E0000;
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: 2px 2px 2px black;
    transition: background-color 250ms ease-in-out;
    padding: 5px;
    margin: 0 0 10px 0;
}
.buttonDeleteAccount:hover {
    cursor: pointer;
    background-color: red;
}
.buttonLogout {
    background-color: $color-secondary;
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: 2px 2px 2px black;
    transition: background-color 250ms ease-in-out;
    padding: 5px;
    margin-bottom: 10px;
}
.buttonLogout:hover {
    cursor: pointer;
    background-color: red;
}