/*------------------------- CSS de frontend------------------------ */
h2 {
  font-weight: 400;
  font-size: 30px;
}
body {
  background-color: #FEBB00;
}


.containerDiv {
  background-color: #2b73b3;
  width: 30vw;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0px 0px 5px #2b73b3;
  display: flex;
  flex-direction: column;
}
.containerDiv2:nth-child(odd) {
  color: #FEBB00;
}

.containerDiv2:nth-child(2) {
  border-top: solid #4db3e9 2px;
  margin-top: 10px;
  padding-top: 10px;
}

.containerDiv2 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 8px;
}


.testAddClass {
  height: 70px;
  margin-top: 20px;
  padding: 8px 0px 8px 8px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}
.testAddClass:focus {
  outline: #FEBB00 solid 2px;
}
/*---------------------- Fin CSS de front ------------------------*/

/* CSS du futur composant header */
.iconLeftFont {
  width: 400px;
}