// --------------- VARIABLES --------------
$color-primary: #DFDFDF;
$color-secondary: #1353FF;
$color-tertiary: black;

// ------------------ MIXINS-RESPONSIVE ------------
@mixin desktop {
  @media screen and (min-width: 1025px) {
      @content;
  }
}
@mixin tablette {
  @media screen and (max-width: 1024px) and (min-width: 601px) {
      @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 600px) {
      @content;
  }
}
// Tous les fichiers scss sont importés dans ce fichier
@import './components/Feed/Feed.scss';
@import './components/PublicationInput/PublicationInput.scss';
@import './components/Like/Like.scss';
@import './components/Inscription/Inscription.scss';
@import './components/Header/Header.scss';
@import './components/Connexion/Connexion.scss';
@import './components/Comment/Comment.scss';
@import './components/ButtonsDeleteAndUpdateComment/ButtonsDeleteAndUpdateComment.scss';
@import './components/UpdatePublication/UpdatePublication.scss';
@import './components/Footer/Footer.scss';


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  margin-bottom: 15px;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
}
h3, h4 {
  font-weight:normal;
}
button {
  font-size: 18px;
}