.labelHome {
    margin: 10px 20px 3px 20px;
}

input {
    padding: 8px 0px 8px 8px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    margin: 0px 20px;
}

input:focus {
    outline: $color-secondary solid 2px;
}

.buttonSignup {
    background-color: $color-secondary;
    border: none;
    box-shadow: 0px 0px 2px $color-secondary;
    font-size: 24px;
    font-weight: bold;
    color: $color-primary;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 250ms ease-in-out;
    margin: 20px;
}
.buttonSwitchSignin {
    background-color: $color-secondary;
    border: none;
    border-top-right-radius: 30px;
    transition: background-color 250ms ease-in-out;
    width: 50%;
    padding: 10px;
}
.h2Connexion {
    font-size: 24px;
    font-weight: bold;
    color: $color-primary;
}
.buttonSwitchSignin:hover {
    cursor: pointer;
    background-color: $color-secondary;
}
.ongletSwitchSignin {
    background-color: $color-primary;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: $color-secondary;
    border-top-left-radius: 30px;
    transition: background-color 250ms ease-in-out;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.buttonSwitchSignin:focus {
    outline: black solid 2px;
}
.buttonSignup:hover {
    cursor: pointer;
    background-color: $color-secondary;
}

.buttonSignup:focus {
    outline: black solid 2px;
}

.containerSignup {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    box-shadow: 0px 0px 5px $color-primary;
    border-radius: 30px;
    color: black;
    width: 340px;
    @include mobile {
        width: 100%;
    }
}

.formIndex {
    display: flex;
    justify-content: center;
}
.divSwitchSignin {
    display: flex;
    flex-direction: row-reverse;
}
.errorRegister {
    margin: 10px 20px 3px 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: solid 5px red;
    background-color: #E69494;
}
.succesRegister {
    margin: 10px 20px 3px 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: solid 5px $color-secondary;
}