.labelHome {
    margin: 10px 20px 3px 20px;
}

input {
    padding: 8px 0px 8px 8px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    margin: 0px 20px;
}

input:focus {
    outline: $color-secondary solid 2px;
}

.buttonSignin {
    background-color: $color-secondary;
    border: none;
    box-shadow: 0px 0px 2px $color-secondary;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 250ms ease-in-out;
    margin: 20px;
}
.h2Inscription {
    font-size: 24px;
    font-weight: bold;
    color: $color-primary;
}
.buttonSwitchSignup {
    background-color: $color-secondary;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: $color-primary;
    border-top-left-radius: 30px;
    transition: background-color 250ms ease-in-out;
    width: 50%;
    padding: 10px;
}
.buttonSwitchSignup:hover {
    cursor: pointer;
    background-color: $color-secondary;
}
.ongletSwitchSignup {
    background-color: $color-primary;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: $color-secondary;
    border-top-right-radius: 30px;
    transition: background-color 250ms ease-in-out;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.buttonSwitchSignup:focus {
    outline: black solid 2px;
}
.buttonSignin:hover {
    cursor: pointer;
    background-color: $color-secondary;
}

.buttonSignin:focus {
    outline: $color-tertiary solid 2px;
}

.containerSignin {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    box-shadow: 0px 0px 5px $color-primary;
    border-radius: 30px;
    color: $color-tertiary;
    width: 340px;
    @include mobile {
        width: 100%;
    }
}

.formIndex {
    display: flex;
    justify-content: center;
}
.divSwitchSignup {
    display: flex;
}